In [1]:
## Deliverable 3. Create a Travel Itinerary Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import dataframe_image as dfi

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [17]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,84,Tasiilaq,GL,8.76,clear sky,65.6145,-37.6368,NaN
1,113,Devils Lake,US,9.95,overcast clouds,48.1128,-98.8651,NaN
2,137,Kargasok,RU,9.81,overcast clouds,59.0556,80.8572,NaN
3,160,Ilulissat,GL,8.62,light shower snow,69.2167,-51.1000,NaN
4,389,Linxia,CN,9.93,scattered clouds,35.6003,103.2064,NaN

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [19]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# vacation_start = vacation_df.loc[(vacation_df["City"] == "Tasiilaq") & (vacation_df["Hotel Name"] == "NaN")]
# vacation_end = vacation_df.loc[(vacation_df["City"] == "Tasiilaq") & (vacation_df["Hotel Name"] == "NaN")]
# vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Kargasok	") & (vacation_df["Hotel Name"] == "NaN")]
# vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Ilulissat") & (vacation_df["Hotel Name"] == "NaN")]
# vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Linxia") & (vacation_df["Hotel Name"] == "NaN")] 

vacation_start = vacation_df.loc[(vacation_df["City"] == "Tasiilaq")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Tasiilaq")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Devils Lake")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Kargasok")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Linxia")]

In [21]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,84,Tasiilaq,GL,8.76,clear sky,65.6145,-37.6368,NaN

In [22]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,84,Tasiilaq,GL,8.76,clear sky,65.6145,-37.6368,NaN

In [23]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,113,Devils Lake,US,9.95,overcast clouds,48.1128,-98.8651,NaN

In [24]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,137,Kargasok,RU,9.81,overcast clouds,59.0556,80.8572,NaN

In [25]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,389,Linxia,CN,9.93,scattered clouds,35.6003,103.2064,NaN

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
print(f'Starting Vacation at: {start}.\n Then make your first stop at: {stop1}.\n Followed by stop 2: {stop2}.\n Proceed to stop 3: {stop3}.\n Ending Vacation at: {end}')

Starting Vacation at: (65.6145, -37.6368).
 Then make your first stop at: (48.1128, -98.8651).
 Followed by stop 2: (59.0556, 80.8572).
 Proceed to stop 3: (35.6003, 103.2064).
 Ending Vacation at: (65.6145, -37.6368)

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)

dfi.export(itinerary_df, "vacation_itinenary.png")

In [33]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

dfi.export(itinerary_df, "Itinerary_Summary.png")

In [35]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(marker_layer)
fig.add_layer(vacation_itinerary)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))