## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Pevek,RU,2022-01-30 22:54:18,69.7008,170.3133,-15.70,97,96,2.19,overcast clouds,0,0
1,1,Tiksi,RU,2022-01-30 22:54:19,71.6872,128.8694,-18.49,100,96,3.87,overcast clouds,0,0
2,2,Kodiak,US,2022-01-30 22:54:19,57.7900,-152.4072,28.47,78,45,5.93,scattered clouds,0,0
3,3,Hithadhoo,MV,2022-01-30 22:54:20,-0.6000,73.0833,81.55,70,76,8.93,broken clouds,0,0
4,4,Puerto Del Rosario,ES,2022-01-30 22:54:20,28.5004,-13.8627,65.88,68,0,11.50,haze,0,0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 35
What is the maximum temperature you would like for your trip? 40

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
48,48,Fort-Shevchenko,KZ,2022-01-30 22:54:45,44.5086,50.2630,37.60,82,92,6.85,overcast clouds,0,0
50,50,Digoin,FR,2022-01-30 22:54:46,46.4812,3.9795,39.29,93,100,0.00,overcast clouds,0,0
57,57,Lerwick,GB,2022-01-30 22:54:51,60.1545,-1.1494,39.20,97,100,10.13,overcast clouds,0,0
94,94,Hellvik,NO,2022-01-30 22:55:14,59.9156,5.7810,35.78,76,100,1.99,overcast clouds,0,0
123,123,Elizabeth City,US,2022-01-30 22:55:31,36.2946,-76.2511,36.01,59,48,7.07,scattered clouds,0,0
126,126,Katsuura,JP,2022-01-30 22:55:33,35.1333,140.3000,39.31,50,100,12.66,overcast clouds,0,0
147,147,Sitka,US,2022-01-30 22:55:46,57.0531,-135.3300,36.52,93,100,2.37,overcast clouds,0,0
158,158,Klaksvik,FO,2022-01-30 22:55:51,62.2266,-6.5890,36.52,67,100,39.48,overcast clouds,0,0
176,176,Hamilton,US,2022-01-30 22:55:36,39.1834,-84.5333,37.18,71,22,4.63,few clouds,0,0
189,189,Ketchikan,US,2022-01-30 22:54:27,55.3422,-131.6461,35.58,80,86,4.70,overcast clouds,0,0

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City_ID                     30
City                        30
Country                     30
Date                        30
Lat                         30
Lng                         30
Max Temp                    30
Humidity                    30
Cloudiness                  30
Wind Speed                  30
Current Description         30
Rain inches (last 3 hrs)    30
Snow inches (last 3 hrs)    30
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                     0
City                        0
Country                     0
Date                        0
Lat                         0
Lng                         0
Max Temp                    0
Humidity                    0
Cloudiness                  0
Wind Speed                  0
Current Description         0
Rain inches (last 3 hrs)    0
Snow inches (last 3 hrs)    0
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
48,Fort-Shevchenko,KZ,37.60,overcast clouds,44.5086,50.2630,
50,Digoin,FR,39.29,overcast clouds,46.4812,3.9795,
57,Lerwick,GB,39.20,overcast clouds,60.1545,-1.1494,
94,Hellvik,NO,35.78,overcast clouds,59.9156,5.7810,
123,Elizabeth City,US,36.01,scattered clouds,36.2946,-76.2511,
126,Katsuura,JP,39.31,overcast clouds,35.1333,140.3000,
147,Sitka,US,36.52,overcast clouds,57.0531,-135.3300,
158,Klaksvik,FO,36.52,overcast clouds,62.2266,-6.5890,
176,Hamilton,US,37.18,few clouds,39.1834,-84.5333,
189,Ketchikan,US,35.58,overcast clouds,55.3422,-131.6461,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    Lat = row["Lat"]
    lng = row["Lng"]

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
print(fig)

Figure(layout=FigureLayout(height='420px'))